VITE_SUPABASE_URL=https://owoftqxjnstjyrinrdiz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im93b2Z0cXhqbnN0anlyaW5yZGl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0MzE2NTQsImV4cCI6MjA5OTAwNzY1NH0.89-1F5YXMi_sbMyuw3m-VwCyMGwAUF4ZLohbcCblal4
